header img{
	width: 40%;
}
body{
	text-align: center;
}
button{
	margin: 1em;
	font-size: 15pt;
}
#cards img{
	width: 10%;
}
#cards{
	position: relative;
	width: 50%;
	height: 0px;
	padding-top: 50%;
	outline: 1px solid black;
	margin: auto;
}
#hand-wrapper-0{
	position: absolute;
	top: 0;
	bottom: 0;
	transform: rotate(180deg);
	z-index: 10;
}
#hand-wrapper-1{
	position: absolute;
	top: 0;
	bottom: 0;
	transform: rotate(0deg);
}
#hand-wrapper-2{
	position: absolute;
	top: 0;
	bottom: 0;
	transform: rotate(270deg);
}
#hand-wrapper-3{
	position: absolute;
	top: 0;
	bottom: 0;
	transform: rotate(90deg);
}
#cards img {
	transform: rotate(180deg);
}
#center {
	position: absolute;
	top: calc((100% - 15%)/2); /* 15% comes from #deck and #discard height */
	left: 0;
	right: 0;
	text-align: center;
	z-index: 11;
}
#deck, #discard {
	display: inline-block;
	height: 15%;
	transform: rotate(180deg);
}
#pick svg:nth-of-type(1) rect{
	fill: green;
}
#pick svg:nth-of-type(2) rect{
	fill: yellow;
}
#pick svg:nth-of-type(3) rect {
	fill: red;
}
#pick svg:nth-of-type(4) rect{
	fill: blue;
}
#pick {
	display: none;
}
